<% if can? :manage, Enrollment %>

  <h1>Enrollments</h1>

  <table class="table">
    <tr>
      <th>Course</th>
      <th>Student</th>
    </tr>
      <% User.with_role_of("student").each do |user| %>
        <% user.courses.each do |course| %>
        <tr>
          <td><%= link_to course.name, course %></td>
          <td><%= link_to user.to_s, user %></td>
        </tr>
        <% end %>
      <% end %>
  </table>

<% else %>

  <% if current_user %>

    <h1>Your courses</h1>

      <table class="table">
        <tr>
          <th>Course</th>
          <th>Date</th>
        </tr>

        <% @current_user.courses.order("start_date").each do |course| %>
        <tr>
          <td><%= link_to course.name, course %></td>
          <td><%= course.start_and_end_dates %></td>
        </tr>
        <% end %>

    </table>

  <% end %>

 <% end %>

